/*HOME*/

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
body{
    background-color:rgb(234, 236, 78);
}

.screen-home{
    text-align: center;
    display: block;   
}
.logoHome{
    width: 7rem;
    height: 7rem;
    margin-bottom: 2rem;
}
.inputs-entrada{
   width: 400px;
   height: 30px;
   margin-top: 1rem;
   margin-bottom: 1rem;
   border-radius: 10px;
}
.btn-botones{
    width: 400px;
    height: 30px;
   margin-bottom: 1rem;
   border-radius: 10px;
   background-color: rgb(122, 151, 236);
}
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 /*REGISTRO*/
 .logoRegistry{
    width: 4rem;
    height: 4rem;
}
.registry-div{
    text-align: center;
}
@media screen and (min-width:780px) and (max-width:1024px){
    body{
        background-color:rgb(78, 146, 236);
    }
    .inputs-entrada{
    width: 400px;
    height: 30px; 
    }
    .btn-botones{
    width: 400px;
    height: 30px;
    }
}
@media screen and (min-width:480px) and (max-width:780px){
    body{
        background-color:rgb(236, 78, 189);
    }
    .inputs-entrada{
        width: 300px;
        height: 30px; 
        }
    .btn-botones{
        width: 300px;
        height: 30px;
        }
}
@media screen and (max-width:480px){
    body{
        background-color:rgb(78, 236, 86);
    }
    .inputs-entrada{
        width: 300px;
        height: 30px; 
        }
    .btn-botones{
        width: 300px;
        height: 30px;
    }
}